body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    border: solid darkgreen;
    width: 150px;
    height: 200px;

}

.display {
    border: solid black;
    width: 130px;
    height: 20px;
}

.numAndOperatorButtons {
    display: flex;
}

.numButtons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100px;
    flex-wrap: wrap;
    border: solid black 2px;
}

.operators {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    border: 2px solid black;
    align-content: flex-end;
}

#equals {
    display: flex;
    align-self: flex-end;
}

#reset {
    display: flex;
    align-self: flex-end;
}

